<br>
<br>
<br>
<br>
<br>

<center>
	<div class="box">
		<h1 class="rainbow">
			Welcome!
		</h1>
		<script>
			function msg()
			{
			alert("Your name has been recorded!\n Press Play to begin!");}
		</script>
	
		<p>
			Enter your name!
		</p>
		<p>
			<form name = "f1" action="/" method="POST" onsubmit="msg()">
		     	<p>
	    	 		<input type="text" name="value">
	     			<input type="SUBMIT" value="Submit">
		     	</p>
			</form>
		</p>
		<p style="text-align:left"><a href="/start">Play</a></p>
		<p style="text-align:left"><a href="/start2">Play Game 2</a></p>
		<p style="text-align:left"><a href="/score">High Scores</a></p>
	</div>
</center>