$def with (s, s2)

<br>
<br>
<br>
<br>
<br>

<center>
	<h1>High Scores</h1>

<div style="visibility:hidden">	
	<p> $s</p>
	<p> $s2</p>
</div>

$if s == "no" and s2 == "no":
	<p> No values to Display! </p>

$elif s=="no" and s2 != "no":
	$for stuff in s:
		<ul>
			<li> None </li>
		</ul>
	$for stuff in s2:
		<ul>
			<li>$stuff[0] : $stuff[1] </li>
		</ul>

$elif s != "no" and s2 == "no":
	$for stuff in s:
		<ul>
			<li> $stuff[0] : $stuff[1] </li>
		</ul>
	$for stuff in s2:
		<ul>
			<li> None </li>
		</ul>

$else:
	$for stuff in s:
		<ul>
			<li> $stuff[0] : $stuff[1] </li>
		</ul>
	$for stuff in s2:
		<ul>
			<li>$stuff[0] : $stuff[1] </li>
		</ul>
	
	<p><a href="/clear"> Clear Score</a></p>


	
<p>
	<a href="/">Back</a>
</p>
</center>