$def with (s, s2)

<br>
<br>
<br>
<br>
<br>
<body background="http://www.astroarts.jp/products/stlnav8/introduction/image/1-2.jpg"></body>

<center>
<h1>High Scores</h1>
</center>

<div style="visibility:hidden">	
	<p> $s</p>
	<p> $s2</p>
</div>

$if s == "no" and s2 == "no":
	<center>
		<h2> No values to Display! </h2>
	</center>

$elif s=="no" and s2 != "no":
	<h3> Game 1 </h3>
	<ul>
		<li> No values for Game 1 </li>
	</ul>
	<h3> Game 2 </h3>
	$for stuff2 in s2:
		<ul>
			<li>$stuff2[0] : $stuff2[1] </li>
		</ul>


$elif s != "no" and s2 == "no":
		<h3 style="color:#1e90ff;"> Game 1 </h3>
		<div class="hs1">
			$for stuff3 in s:
				<ul>
					<li> $stuff3[0] : $stuff3[1] </li>
				</ul>
		</div>
	<h3 style="color:yellow"> Game 2 </h3>
	<div class="hs2">
		<ul>
			<li> No values for Game 2 </li>
		</ul>
	</div>

$else:
	<h3> Game 1 </h3>
	$for stuff in s:
		<ul>
			<li> $stuff[0] : $stuff[1] </li>
		</ul>
		
	<h3> Game 2 </h3>
	$for stuff in s2:
		<ul>
			<li>$stuff[0] : $stuff[1] </li>
		</ul>


<br>
<br>
	
<center>
	<p>
		<a href="/clear"> Clear Score</a>
		<br>
		<a href="/">Back</a>
	</p>
</center>