$def with (room, count, n, win)

<br>
<br>
<br>
<br>
<br>
<body background="http://www.astroarts.jp/products/stlnav8/introduction/image/1-2.jpg"></body>
<div class="border_content">
	<center>
			<h1> 
				$room.name 
			</h1>

		<pre>
		$room.description
		</pre>
	
	<script id='help'>
		function msg()
		{
		alert("$room.path2");
		}
	</script>

$if room.name == "death":
    	<p>
	    <a href="/start">Play Again?</a>
    	</p>
$elif room.name == "The End":
            <p>
            <form action="/game" method="POST">
                <span style="color:white"></span>
            </form>
            <a href="/">Back to Homepage</a>
            </p>
        $if win == False:
            <h5 style="text-family: Courier;"> $n, you have $count lives left <h5>
$else:
	    <p>
    	<form action="/game" method="POST">
        	<span style="color:white"></span> <input type="text" name="action"> <input type="SUBMIT">
			<input type="button" value="Help" onclick="msg()">
    	</form>
	    </p>
	
		<h5 style="text-family: Courier;"> $n, you have $count lives left <h5>
	</center>
</div>